@model IEnumerable<ControlWork.Models.Progress>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Study progress</h1>

<div>
    <table>
        <tr class="table">
            <td><p style="margin-left: 20px">№</p></td>
            <td><p style="margin-left: 20px">Student</p></td>
            <td><p style="margin-left: 20px">Maths</p></td>
            <td><p style="margin-left: 20px">Physics</p></td>
            <td><p style="margin-left: 20px">History</p></td>
            <td><p style="margin-left: 20px">Score</p></td>
        </tr>
        @foreach (ControlWork.Models.Progress item in Model)
        {
            <tr>
                <td><p style="margin-left: 20px">@item.id</p></td>
                <td><p style="margin-left: 20px">@item.Student</p></td>
                <td><p style="margin-left: 20px">@item.Maths</p></td>
                <td><p style="margin-left: 20px">@item.Physics</p></td>
                <td><p style="margin-left: 20px">@item.History</p></td>
                <td><p style="margin-left: 20px">@item.Score</p></td>
            </tr>
        }
    </table>
    <p>@Html.ActionLink("Add student", "AddStudent")</p>
</div>